<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MK RSS Feed{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('libraries/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('libraries/jquery/jquery-3.7.1.min.js') }}"></script>
            <script src="{{ asset('libraries/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
