<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MK RSS Feed - Your news source{% endblock %}</title>
        <meta name="description" content="RSS News Feed by Maciej Kardel. Displays newest information in different categories: technology, business, Europe, USA. Gathers news from various sources.">
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('libraries/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('libraries/jquery/jquery-3.7.1.min.js') }}"></script>
            <script src="{{ asset('libraries/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg darkest-bg custom-shadow navbar-dark">
                <a class="navbar-brand" href="{{ path('homepage_show') }}" title="Home">MK RSS Feed</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% for categoryName, category in categories %}
                            <li class="nav-item {% if selectedCategoryName is defined and categoryName == selectedCategoryName %}active{% endif %}">
                                <a class="nav-link" href="{{ path('category_show', { categoryName: categoryName }) }}" title="Business">{{ category.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container mt-4 mb-4">
            {% block body %}{% endblock %}
        </div>
        <footer class="darkest-bg text-center text-white p-3 custom-shadow">
            <p>Created by Maciej Kardel 2023</p>
        </footer>
    </body>
</html>
