{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav class="navbar navbar-light darkest-bg custom-shadow">
            <span class="navbar-brand text-white p-3"><h1>MK RSS Feed</h1></span>
        </nav>
    </header>
    <div class="container pt-5">
        <div class="row">
            {% for news in allNews %}
                <div class="col-md-12 col-lg-4">
                    {% set feedItem = news.feedItem %}
                    <div class="card mb-2 custom-shadow">
                        <img class="card-img-top" src="{{ news.imageUrl }}" alt="{{ feedItem.title }}">
                        <div class="card-body">
                            <p class="text-secondary">{{ feedItem.pubDate }}</p>
                            <h2 class="card-title h5">{{ feedItem.title }}</h2>
                            <p class="card-text">{{ feedItem.description }}</p>
                            <a href="{{ feedItem.link }}" class="btn btn-primary" target="_blank">Show</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer class="darkest-bg text-center text-white p-3 custom-shadow">
        <p>Created by Maciej Kardel 2023</p>
    </footer>
{% endblock %}