<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if pageNum - 1 < 1 %}disabled{% endif %}"><a class="page-link" href="{{ path('category_show', { categoryName: selectedCategoryName, p: pageNum - 1 }) }}" title="Previous page">Previous</a></li>
        {% for page in 1..pagesCount %}
            <li class="page-item {% if page == pageNum %}active{% endif %}"><a class="page-link" href="{{ path('category_show', { categoryName: selectedCategoryName, p: page }) }}" title="Page {{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li class="page-item {% if pageNum + 1 > pagesCount %}disabled{% endif %}"><a class="page-link" href="{{ path('category_show', { categoryName: selectedCategoryName, p: pageNum + 1 }) }}" title="Next page">Next</a></li>
    </ul>
</nav>
